header {
    background-color: bisque;

}

main {
    background-color: antiquewhite;
    margin: 0px;
    250;

}

body {
    margin: 0;
}

footer {
    text-align: center;
    background-color: antiquewhite;

}

img {
    display: block;
    margin: auto;
    width: 48%;


}

p {
    margin: 0px 200px;
    100px;
}

h1,
h2 {
    margin: 0;
}